@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    background-color: var(--background-color);
    font-family: poppins;
    overflow-x: hidden;
    max-width: 2000px;
    margin: auto;
}
*{
    box-sizing: border-box;
    margin: 0;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    min-height: 200px;
    color: white;
}
.footer-icons-container{
    display: flex;
    justify-content: space-around;
    width: 16rem;
    margin: 1rem 0;
}
.footer-icons-container .footer-icon{
    font-size: 2.5rem;
    cursor: pointer;
}
.footer-icons-container .footer-icon:hover{
    transform: scale(1.1);
}