@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: var(--background-color);
    font-family: poppins;
    overflow-x: hidden;
    max-width: 125rem;
    margin: auto;
}
:root{
    --light-blue: #f2fbff;
    --color-black: black;
    --navbar-shadow: #b5b5b5;
}
*{
    box-sizing: border-box;
    margin: 0;
}
ul{
    margin: 0px;
    padding: 0px;
}
.navbar{
    box-shadow: 0px 5px 3px 0px var(--navbar-shadow);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    min-height: 12.5rem;
    color: white;
}
.footer-icons-container{
    display: flex;
    justify-content: space-around;
    width: 16rem;
    margin: 1rem 0rem;
}
.footer-icons-container i{
    font-size: 2.5rem;
    cursor: pointer;
}
.footer-icons-container i:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 345px){
    .card-vertical{
        margin: 0rem 2rem;
    }
    .card-vertical .image-container {
        height: fit-content;
    }
}