.mycart-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    max-width: 88rem;
    width: 90%;
    margin: auto;
}
.mycart-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
}
.mycart-summary-container{
    grid-column: 2 / 3;
}
.my-cart-card{
    /* This padding is to override the css coming from CL */
    padding: 0rem 0rem;
    max-width: 38rem;
    border-radius: 3px;
    margin: 2rem 0rem;
}
.my-cart-card .image-container{
    min-width: 10rem;
    max-width: 16rem;
}
.my-cart-card .image-container img{
    border-radius: 3px;
}
.my-cart-card .wrapper{
    margin: 1rem 1rem;
}
.quantity-btn-container{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
}
.quantity-btn{
    cursor: pointer;
    background-color: transparent;
}
.quantity-info{
    display: inline-block;
    border: 1px solid gray;
    font-size: 1.3rem;
    padding: 0.1rem 1rem;
    margin: 0rem 0.5rem;
}
.quantity-btn i{
    font-size: 2rem;
}
.my-cart-cta-btn-container{
    max-width: 32rem;
    width: 100%;    
}
.my-cart-cta-btn-container button{
    margin: 0.4rem 0rem;
}
.my-cart-cta-btn{
    display: block;
    width: 100%;
}